
:root {
  --red: #E73C37;
  --soft-bronw: #BFB0A0;
  --dark: #312C38;
  --beje: #B99581;
  --soft-beje: #F7EFE7;
  --soft-white: #f1f1f1;

   /* --- Font and typography --- */
   --body-font: Helvetica, sans-serif;
   --big-font-size: 1.5rem;
   --normal-font-size: .938rem;
}


/* ------------------------------------- */
/* ---------------  BODY  --------------- */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--soft-beje);
  position: relative;
}


/* ------------------------------------- */
/* ---------------  BASE --------------- */
.content {
  max-width: 650px; 
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

/* ---------------------------------------------- */
/* -------------  CARD -- img + inf ------------- */
.section_image {
  border-radius: 4px 0 0 4px;
  padding: 40px;
  background-image: url(/assets/img/dog1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section_image img{
  width: 180px;
  margin: 0;
}


.section_image .btn{
  color: var(--beje);
  font-weight: bolder;
}
.section_image .btn:hover{
  color: white;
  background-color: var(--red);
}

/* --------------------------------------- */
/* ------------  CARD -- form ------------ */
.section_auth {
  background-color: white;
  border-radius: 0 4px 4px 0;
  padding: 40px 40px 40px 40px;
}

.info_auth a {
  color: var(--red);
}
.info_auth span {
  color: var(--beje);
}
.info_auth p {
  font-size: small;
  margin-bottom: 20px;
}

.info_auth h5 {
  color: var(--dark);
  font-weight: bolder;
}

/* ---- inputs -- email + pass ---- */
.form-group .form-control {
  padding-left: 2.375rem;
  background-color: rgb(248, 248, 248);
  
}

/* -------- input icon --------- */
.form-group .form_control_icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;  
}

/* --------- input on focus --------- */
.form-control:focus,.form-control.focus {
  border: 2px solid var(--red);
}

.form-group label {
  color: #8a8a8a;
  font-size: smaller;
  margin-bottom: .2rem;
}

.form-check label {
  color: var(--dark);
}
.form-check-input:checked {
  background-color: var(--beje);
  border-color: var(--beje);
}

.reset_pass {
  margin-bottom: 5px;
  font-size: smaller;
  color: var(--beje);
  float: right;
}
.reset_pass:hover{
  color: var(--red);
}

/* -------------------------------------- */
/* -------- btn cancel + submit --------- */

.btn__cancel {
  background-color: var(--soft-white);
  color: #666666;
}
.btn__cancel:hover {
  /*background-color: var(--dark);*/
  border-color: var(--red);
  color: var(--red);
}


.btn__submit {
  background-color: var(--red);
  color: var(--soft-white);
}
.btn__submit:hover {
  background-color: var(--beje);
  color: var(--soft-white);
}



/* -------- info of other methods of auth -------- */
.info__other_auth {
  font-size: smaller;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

/* --- line behind text --- */
.info__other_auth {
  font-size: smaller;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
  position: relative;
  z-index: 1;
}
.info__other_auth:before {
  border-top: 1px solid darkgray;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: -1;
}
.info__other_auth span {
  background: #fff;
  padding: 0 15px;
}


/* --- creste acount link --- */
.dont_have_acount_btn {
  font-size: smaller;
  margin-top: 15px;
}
.dont_have_acount_btn a{
  color: var(--red);
}
.dont_have_acount_btn a:hover{
  color: var(--beje);
}


/* -------------------------------------- */
/* ----- btn other auth google + fb ----- */

.btn__other_auth {
  border: 1px solid var(--beje);
  font-size: small;
  font-weight: bolder;
  color: var(--beje);
}
.btn__other_auth:hover {
  background-color: var(--beje);
  color: white;
}

.btn__other_auth .bx {
  font-size: 1.2rem;
}


footer {
  font-size: smaller;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}
footer a{
  color: #acacac;
}
footer a:hover{
  color: #696969;
}

/* ---------------------------------------------- */
/* -------- remove default focus on btn --------- */
.btn:not(:disabled):not(.disabled):active:focus,
.btn:focus, .btn.focus,
.form-control:focus,.form-control.focus,
.form-check-input:focus
{
  box-shadow:none;
}
.form-check-input:focus {
  border-color: var(--beje);
}